<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap"
    />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <div class="box">
      <h1 id="title">Hello, my name is Rebecca.</h1>
      <h3 class="sec1_description">Welcome to my website.</h3>
      <h3 class="sec1_description">
        Thank you for stopping by and feel free to look around.
      </h3>
      <img src="images/g.gif" id="gif" />
      <% include partials/footer.ejs %>
    </div>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
