<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://getbootstrap.com/docs/5.2/assets/css/docs.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap"
    />
    <link rel="icon" type="image/x-icon" href="images/favicon.ico" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body>
    <% include partials/navbar.ejs %>
    <div class="box">
      <h3 id="sec2_description">
        <img src="/images/mypic.jpg" alt="" id="myPic" />
        I'm a student and I'm currently studying Software Engineering. It's been
        a year and a half since I started my programming journey and so far it
        has been challenging but rewarding. This is just the first of many
        projects I plan to make in the future.
      </h3>

      <a
        id="resume_link"
        href="/assets/Rebecca_Khidesheli_Resume.pdf"
        target="_blank"
        >View or Download Resume</a
      >

      <% include partials/footer.ejs %>
    </div>
  </body>
</html>
